    <nav>
        <div class="brand">
            <h1>Simpz</h1>
        </div>

        <div class="links">
            <% if(user) {  %>
                <p><%=user %></p>
            <% } else { %>
                <a href="/register">Sign in</a>
                <a href="/login">Log in</a>
            <% } %>
        
        </div>
    </nav>

