    <nav>
        <div class="brand">
            <h1>Simpz</h1>
        </div>

        <div class="links">
            <a href="/register">Sign in</a>
            <a href="/login">Log in</a>
        </div>
    </nav>

